<%= simple_form_for @form, url: admin_appearance_path, html: { id: 'colors-form' } do |f| %>
  <%= hidden_field_tag :return_tab, 'color', id: 'return_tab_field' %>
  <div class="card-body defaultable-colors">
    <% @form.default_colors.each do |color_name, hex| %>
      <% # Check for custom default, fallback to system default %>
      <% custom_default = @form.custom_default_color(color_name) %>
      <% default_hex = custom_default || hex %>
      <%= render 'color_input', f: f, color_name: color_name, hex: default_hex, system_default: hex %>
    <% end %>
  </div>

  <% theme_colors = @form.custom_theme_colors %>

  <div class="card-footer">
    <%= link_to 'Restore All Defaults', '#color', class: 'btn btn-secondary restore-all-default-colors' %>
    <% if !theme_colors.empty? %>
      <%= link_to 'Apply Theme Colors', '#color', class: 'btn btn-secondary apply-theme-colors', 
        data: { theme_colors: theme_colors.to_json } %>
    <% end %>
    <%= button_to 'Save as Custom Default Colors', 
        admin_appearance_path, 
        method: :patch,
        params: { save_as_custom_defaults: true },
        class: 'btn btn-secondary save-custom-defaults',
        data: { confirm: 'This will save your current color settings as your tenant\'s default colors. These will be used when you click "Restore All Defaults" or switch themes. Continue?' },
        form: { style: 'display: inline;' } %>
    <%= f.submit 'Save changes', class: 'btn btn-primary float-right' %>
  </div>
<% end %>
