<%= render 'page_header' %>

<div class="deposit-wizard deposit-wizard--details">
  <%= render 'stepper', steps: item_stepper_steps, phase: stepper_phase(:detail) %>
  <%= render 'step_title', title: t('hyku.deposit_wizard.details.heading'), hint: t('hyku.deposit_wizard.details.subtext') %>

  <%= simple_form_for work_form,
                      url: main_app.deposit_wizard_advance_path(step: 'details'),
                      method: :patch,
                      html: { class: 'deposit-wizard__details-form', data: { 'param-key' => work_form.model_name.param_key } } do |f| %>
    <%= render 'hyrax/base/form_metadata', f: f %>

    <%= render 'visibility', f: f %>

    <%= render 'nav', back_path: main_app.deposit_wizard_step_path(step: 'files') %>
  <% end %>
</div>
