<% provide :page_header do %>
  <h1><span class="fa fa-cloud-upload" aria-hidden="true"></span> <%= t('hyku.deposit_wizard.details.heading') %></h1>
<% end %>

<%= render 'stepper', steps: item_stepper_steps, phase: 2 %>

<div class="deposit-wizard deposit-wizard--details">
  <p class="deposit-wizard__subtext"><%= t('hyku.deposit_wizard.details.subtext') %></p>

  <%= simple_form_for work_form,
                      url: main_app.deposit_wizard_advance_path(step: 'details'),
                      method: :patch,
                      html: { class: 'deposit-wizard__details-form', data: { 'param-key' => work_form.model_name.param_key } } do |f| %>
    <%= render 'hyrax/base/form_metadata', f: f %>

    <fieldset class="deposit-wizard__visibility">
      <%= render 'hyrax/base/form_visibility_component', f: f %>
    </fieldset>

    <div class="deposit-wizard__nav">
      <%= link_to t('hyku.deposit_wizard.back'), main_app.deposit_wizard_step_path(step: 'files'), class: 'btn btn-link' %>
      <%= f.submit t('hyku.deposit_wizard.continue'), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
