<% provide :page_header do %>
  <h1><span class="fa fa-cloud-upload" aria-hidden="true"></span> <%= t('hyku.deposit_wizard.file_meta.heading') %></h1>
<% end %>

<%= render 'stepper', steps: item_stepper_steps, phase: stepper_phase(:file_detail) %>

<div class="deposit-wizard deposit-wizard--file-meta">
  <p class="deposit-wizard__subtext"><%= t('hyku.deposit_wizard.file_meta.subtext') %></p>

  <%= form_tag main_app.deposit_wizard_advance_path(step: 'file_meta'), method: :patch, class: 'deposit-wizard__file-meta-form' do %>
    <% uploaded_files.each do |uf| %>
      <% id = uf.id.to_s %>
      <% form = file_meta_forms[id] %>
      <fieldset class="deposit-wizard__file-panel" data-uploaded-file-id="<%= id %>">
        <legend class="deposit-wizard__file-name"><%= uf.file&.file&.filename || uf.id %></legend>

        <%# Namespace every field for this file under file_metadata[<id>][...] by
            scoping the fields_for builder; the stock edit-field and visibility
            partials then render per file with correctly-scoped input names. %>
        <%= fields_for "file_metadata[#{id}]", form, builder: SimpleForm::FormBuilder do |f| %>
          <%= render 'file_metadata', f: f, panel_id: id %>

          <div class="deposit-wizard__file-visibility" data-behavior="file-visibility">
            <label class="deposit-wizard__inherit-visibility">
              <%# Hidden companion so an unchecked box still submits a value: a bare
                  check_box_tag sends nothing when unchecked, which is indistinguishable
                  from "field never rendered". The hidden '0' is the unchecked value;
                  the checkbox's '1' wins when checked. %>
              <%= hidden_field_tag "file_metadata[#{id}][inherit_visibility]", '0', id: nil %>
              <%= check_box_tag "file_metadata[#{id}][inherit_visibility]", '1', file_inherits_visibility?(id),
                                data: { behavior: 'inherit-visibility' } %>
              <%= t('hyku.deposit_wizard.file_meta.inherit') %>
            </label>

            <div class="deposit-wizard__own-visibility deposit-wizard__visibility" <%= 'hidden' if file_inherits_visibility?(id) %>>
              <%= render 'hyrax/base/form_visibility_component', f: f %>
            </div>
          </div>
        <% end %>
      </fieldset>
    <% end %>

    <div class="deposit-wizard__nav">
      <%= link_to t('hyku.deposit_wizard.back'), main_app.deposit_wizard_step_path(step: 'details'), class: 'btn btn-link' %>
      <%= submit_tag t('hyku.deposit_wizard.continue'), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
