<%= render 'page_header' %>

<div class="deposit-wizard deposit-wizard--files">
  <%= render 'stepper', steps: item_stepper_steps, phase: stepper_phase(:upload) %>
  <%= render 'step_title', title: t('hyku.deposit_wizard.files.heading'), hint: t('hyku.deposit_wizard.files.subtext') %>

  <%= form_tag main_app.deposit_wizard_advance_path(step: 'files'), method: :patch, class: 'deposit-wizard__files-form' do %>
    <%= render 'file_uploader' %>

    <%= render 'nav', back_path: main_app.deposit_wizard_step_path(step: 'known_type') %>
  <% end %>
</div>
