<%= render 'page_header' %>

<div class="deposit-wizard deposit-wizard--review">
  <%= render 'stepper', steps: item_stepper_steps, phase: stepper_phase(:review) %>
  <%= render 'step_title', title: t('hyku.deposit_wizard.review.heading'), hint: t('hyku.deposit_wizard.review.subtext') %>

  <dl class="deposit-wizard__review-list">
    <div class="row">
      <dt class="col-sm-3"><%= t('hyku.deposit_wizard.review.work_type') %></dt>
      <dd class="col-sm-9"><%= work_form.model_name.human %></dd>
    </div>

    <div class="row">
      <dt class="col-sm-3"><%= t('hyku.deposit_wizard.review.files') %></dt>
      <dd class="col-sm-9"><%= t('hyku.deposit_wizard.review.file_count', count: wizard_state.uploaded_file_ids.size) %></dd>
    </div>

    <% basic_terms = (work_form.primary_terms + work_form.secondary_terms) - %i[schema_version contexts] %>
    <% basic_terms.each do |term| %>
      <% value = Array(work_form.send(term)).reject(&:blank?) if work_form.respond_to?(term) %>
      <% next if value.blank? %>
      <div class="row">
        <dt class="col-sm-3"><%= t(term, scope: 'simple_form.labels.defaults', default: term.to_s.humanize) %></dt>
        <dd class="col-sm-9"><%= value.join(', ') %></dd>
      </div>
    <% end %>

    <% work_form.compound_terms.each do |term| %>
      <% entries = Array(work_form.send(term)).reject(&:blank?) if work_form.respond_to?(term) %>
      <% next if entries.blank? %>
      <div class="row">
        <dt class="col-sm-3"><%= t(term, scope: 'simple_form.labels.defaults', default: term.to_s.humanize) %></dt>
        <dd class="col-sm-9"><%= t('hyku.deposit_wizard.review.entry_count', count: entries.size) %></dd>
      </div>
    <% end %>

    <% if work_form.respond_to?(:visibility) && work_form.visibility.present? %>
      <div class="row">
        <dt class="col-sm-3"><%= t('hyku.deposit_wizard.review.work_visibility') %></dt>
        <dd class="col-sm-9"><%= visibility_summary(work_visibility_attributes) %></dd>
      </div>
    <% end %>

    <% if file_visibility_summaries.any? %>
      <div class="row">
        <dt class="col-sm-3"><%= t('hyku.deposit_wizard.review.file_visibility') %></dt>
        <dd class="col-sm-9">
          <ul class="deposit-wizard__review-files list-unstyled mb-0">
            <% file_visibility_summaries.each do |file| %>
              <li><%= file[:title] %> &mdash; <%= visibility_summary(file[:attributes]) %></li>
            <% end %>
          </ul>
        </dd>
      </div>
    <% end %>
  </dl>

  <% if available_admin_sets.size > 1 && selected_admin_set_name.present? %>
    <p class="deposit-wizard__review-destination">
      <%= t('hyku.deposit_wizard.review.destination', admin_set: selected_admin_set_name) %>
    </p>
  <% end %>

  <%= form_tag main_app.deposit_wizard_commit_path, method: :post, class: 'deposit-wizard__commit-form' do %>
    <% if Flipflop.show_deposit_agreement? %>
      <div class="deposit-wizard__agreement">
        <% if Flipflop.active_deposit_agreement_acceptance? %>
          <label>
            <%= check_box_tag 'agreement', '1', false, required: true %>
            <%= t('hyrax.active_consent_to_agreement') %>
            <%= link_to t('hyrax.pages.tabs.agreement_page'), hyrax.agreement_path, target: '_blank', rel: 'noopener' %>
          </label>
        <% else %>
          <%= t('hyrax.passive_consent_to_agreement') %>
          <%= link_to t('hyrax.pages.tabs.agreement_page'), hyrax.agreement_path, target: '_blank', rel: 'noopener' %>
        <% end %>
      </div>
    <% end %>

    <%# Back mirrors the forward flow: file_meta precedes review when there are
        files, otherwise details does. %>
    <% back_step = wizard_state.uploaded_file_ids.any? ? 'file_meta' : 'details' %>
    <%= render 'nav', back_path: main_app.deposit_wizard_step_path(step: back_step),
                      next_label: t('hyku.deposit_wizard.review.deposit'),
                      next_arrow: false,
                      next_html: { class: 'deposit-wizard__deposit-btn' } %>
  <% end %>
</div>
