<%# Override Hyrax 5.2.0
  - add privacy policy partial
  - add login & logout link
  - add Hyku version %>
<% current_year = Time.now.year %>

<footer class="navbar navbar-dark container-fluid">
  <div class="row navbar-text text-center">

    <div class="col-12 col-lg-6 text-lg-left">
      <div class="p-1 p-lg-2"><%= t('hyrax.footer.service_html') %> <%= ENV.fetch('HYKU_FOOTER_EXTRA', '').html_safe %></div>
      <div class="p-1 p-lg-2">Hyku v<%= Hyku::VERSION %> with Hyrax v<%= Hyrax::VERSION %></div>
    </div>

    <div class="col-12 col-lg-6 text-lg-right">
      <div class="p-1 p-lg-2">
        <%= t('hyrax.footer.copyright_html', current_year: current_year) %>
        <%= t('hyrax.background_attribution_html') %>
      </div>
      <div class="p-1 p-lg-2">
        <% if user_signed_in? %>
          <%= link_to t('hyrax.toolbar.profile.logout'), main_app.destroy_user_session_path, class: 'navbar-link' %>
        <% else %>
          <%= link_to t('hyku.footer.admin_login', default: [:'hyrax.toolbar.profile.login']), main_app.new_user_session_path, class: 'navbar-link' %>
        <% end %>
        <span class="navbar-link"><%= render 'hyrax/base/privacy_policy' %></span>
      </div>
    </div>

  </div>
</footer>
