<% # April's note: overriding Hyrax 2.9 template for client theming %>

<% featured_collection = f.object.presenter %>
<% collections.each do |collection| %>
  <div class="neutral-repository-collections pb-30 col-xs-6 col-md-4">
    <%= link_to [hyrax, featured_collection] do %>
      <%= render_thumbnail_tag(featured_collection, { class: "img-responsive", alt: "#{featured_collection.title.first} #{ t('hyrax.homepage.admin_sets.thumbnail')}" }, {suppress_link: true}) %>
    <% end %>
    <div class="collection-item-title">
      <%= link_to [hyrax, featured_collection] do %>
        <%= featured_collection.title.first %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="col-xs-12 text-center mt-20">
  <%= link_to t('hyrax.homepage.admin_sets.link'),
                main_app.search_catalog_path(f: { human_readable_type_sim: ["Collection"]}),
                class: 'btn btn-default' %>
</div>
