<header aria-label="header" class="community-header">
  <nav id="masthead" class="navbar navbar-expand-lg navbar-dark bg-dark community-masthead">
    <div class="container-fluid">
      <!-- Logo Section -->
      <%= render '/logo' %>

      <!-- Mobile Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#community-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <!-- Collapsible Navigation -->
      <div class="collapse navbar-collapse" id="community-navbar-collapse">
        <!-- Main Navigation Links (Home, About, Help, Contact) -->
        <ul class="navbar-nav mx-auto">
          <li><%= link_to 'Home', hyrax.root_path, class: 'nav-link px-3' %></li>
          <li><%= link_to 'About', hyrax.about_path, class: 'nav-link px-3' %></li>
          <li><%= link_to 'Help', hyrax.help_path, class: 'nav-link px-3' %></li>
          <li><%= link_to 'Contact', hyrax.contact_path, class: 'nav-link px-3' %></li>
        </ul>

        <!-- Mobile Divider (hidden on desktop) -->
        <hr class="bg-light d-lg-none">

        <!-- User Utility Links (Login/Profile) -->
        <%= render '/user_util_links' %>
      </div>
    </div>
  </nav>
</header>
